In [3]:
score = [ 10, 20, 30, 40, 50 ]
print(id(score))

2909625710080

In [4]:
print(id(score[0]))
print(id(score[1]))
print(id(score[2]))
print(id(score[3]))
print(id(score[4]))

140731299473472
140731299473792
140731299474112
140731299474432
140731299474752

In [6]:
score[2] = 90
print(score[2])
print(id(score[2]))

90
140731299476032

In [7]:
score[3] = 20
print(score[3])
print(id(score[3]))

20
140731299473792

In [8]:
score[1] = 80
print(score[1])
print(id(score[1]))

80
140731299475712

# ListCopy

In [2]:
score = [ 10, 20, 30, 40, 50 ]
print(id(score))
print(id(score[0]))
print(id(score[1]))
print(id(score[2]))
print(id(score[3]))
print(id(score[4]))

1760357407808
140715257964608
140715257964928
140715257965248
140715257965568
140715257965888

In [3]:
values = score
print(id(values))

1760357407808

In [4]:
print(id(values[0]))
print(id(values[1]))
print(id(values[2]))
print(id(values[3]))
print(id(values[4]))

140715257964608
140715257964928
140715257965248
140715257965568
140715257965888

In [5]:
values[2]=99
print(id(values[2]))

140715257967456

In [6]:
print(score[2])

99

In [7]:
values=list(score)
print(id(score))
print(id(values))

1760357407808
1760358376448

In [8]:
for i in range(5) :
    print(id(score[i]))

140715257964608
140715257964928
140715257967456
140715257965568
140715257965888

In [9]:
for i in range(5) :
    print(id(values[i]))

140715257964608
140715257964928
140715257967456
140715257965568
140715257965888

In [10]:
score[0] = 99
print(id(score[0]))

140715257967456

In [11]:
print(id(values[0]))

140715257964608

In [12]:
values[1] = 90
print(id(values[1]))

140715257967168

In [13]:
values = score[:]

# ListFunction

In [24]:
def func1(x):
    print("x=", x, "id=", id(x))
    x = 42
    print("x=", x, "id=", id(x))
    
y = 10
print("y=", y, "id=", id(y))
func1(y)
print("y=", y, "id=", id(y))

y= 10 id= 140731299473472
x= 10 id= 140731299473472
x= 42 id= 140731299474496
y= 10 id= 140731299473472

In [25]:
def func2(list):
    list[1] = 99
    
values = [ 0, 1, 1, 2 ]
print(values)
for i in range(0, 4) :
    print("values[%d]=%d, id=%d" % (i, values[i], id(values[i])))
func2(values)
print(values)
for i in range(0, 4) :
    print("values[%d]=%d, id=%d" % (i, values[i], id(values[i])))

[0, 1, 1, 2]
values[0]=0, id=140731299473152
values[1]=1, id=140731299473184
values[2]=1, id=140731299473184
values[3]=2, id=140731299473216
[0, 99, 1, 2]
values[0]=0, id=140731299473152
values[1]=99, id=140731299476320
values[2]=1, id=140731299473184
values[3]=2, id=140731299473216

In [26]:
def func2(list):
    list[0] = 99
    v = [1, 2]
    list = v
    
values = [ 0, 1, 1, 2 ]
print(values)
func2(values)
print(values)

[0, 1, 1, 2]
[99, 1, 1, 2]

# Cheapest

In [29]:
prices = [90, 80, 20, 60, 70]
cheapest = prices[0]

for value in prices :
    if cheapest > value :
        cheapest = value
        
print("가장 싼 가격은:", cheapest)

가장 싼 가격은: 20

In [30]:
prices = [90, 80, 20, 60, 70]
min(prices)

20

# SequentialSearch

In [39]:
def linearSearch(aList, key) :
    for i, value in enumerate(aList) :
        if key == value :
            return i
    return -1

numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]

position = linearSearch(numbers, 80)

if position == -1 :
    print("탐색 실패")
else :
    print("탐색 성공 위치 = ", position)

탐색 성공 위치 =  7

In [41]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(numbers.index(80))

7

# Party

In [42]:
partyA = set(["Park", "Kim", "Lee"])
partyB = set(["Park", "Choi"])

print("2개의 파티에 모두 참석한 사람은 다음과 같습니다. ")
print(partyA.intersection(partyB))

2개의 파티에 모두 참석한 사람은 다음과 같습니다.
{'Park'}

# Words_Set

In [14]:
# 단어에서 구두점을 제거하고 소문자로 만든다.
def process(w) :
    output = ""
    for ch in w :
        if ch.isalpha() :
            output += ch
    return output.lower()

words = set()

fname = input("입력 파일 이름 : ")
file = open(fname, "r")

for line in file :
    lineWords = line.split()
    #print(lineWords)
    for word in lineWords :
        #print(word)
        words.add(process(word))
        
print("사용된 단어의 개수 =", len(words))
print(words)

입력 파일 이름 : proverbs.txt
사용된 단어의 개수 = 18
{'travels', 'together', 'done', 'flock', 'ends', 'half', 'is', 'news', 'a', 'of', 'that', 'fast', 'feather', 'begun', 'birds', 'alls', 'bad', 'well'}

# WordsCounter

In [49]:
fname = input("파일 이름: ")
file = open(fname, "r")

table = dict()

for line in file :
    words = line.split()
    for word in words :
        if word not in table :
            table[word]=1
        else :
            table[word] = table[word] + 1
            
print(table)

파일 이름: 1.txt
{"All's": 2, 'well': 2, 'that': 2, 'ends': 2, 'well.': 2, 'Bad': 1, 'news': 1, 'travels': 1, 'fast.': 1, 'Well': 1, 'begun': 1, 'is': 1, 'half': 1, 'done.': 1, 'Birds': 1, 'of': 1, 'a': 1, 'feather': 1, 'flock': 1, 'together.': 1}

# StringAnalysis

In [52]:
sentence = input("문자열을 입력하시오: ")

table = {"alaphas" : 0, "digits" : 0, "spaces" : 0}

for i in sentence :
    if i.isalpha() :
        table["alaphas"] += 1
    if i.isdigit() :
        table["digits"] += 1
    if i.isspace() :
        table["spaces"] += 1
        
print(table)

문자열을 입력하시오: A picture is worth a thousand words. 123
{'alaphas': 29, 'digits': 3, 'spaces': 7}